@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    height: calc(100% - 7rem);
    
    &__goback{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: flex-start;
        padding: 1rem 0;
        color: $google-dark-blue;
    }
    &__title{
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 0;
        margin-bottom: 3rem;
        color: $google-dark-blue;
    }
    &__prompt{
        font-size: 1.5rem;
        line-height: 1.813rem;
        margin: 0;
        margin-bottom: 1rem;
    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-select{
            height: 50px;
            width: 100%;
            border: 3px solid $google-blue;
            border-radius: 30px;
            padding: 0.75rem;
            background-color: white;
            font-size: 1rem;
            font-family: "Product Sans";
            margin-bottom: 12rem;
            cursor: pointer;
        } :hover{
            border: 3px solid $google-dark-blue;
        }

        &-btn{
            height: 50px;
            width: 100%;
            border: 3px solid #ccc;
            border-radius: 20px;
            border-style: hidden;
            font-size: 1rem;
            font-family: "Product Sans";
            color: white;
            background-color: $google-blue;
            cursor: pointer;
            letter-spacing: 1px;
            margin-top: 4.75rem;

            &:hover{
                background-color: $google-dark-blue;
            }
        }
    }
}
