@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.searchform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2.25rem;
    &__dropdown{
        width: 320px;
        height: 60px;
    }
}