@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin reset-link {
  text-decoration: none;
  color: inherit;
}