$mobile-min: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$desktop-max: 1920px;

// Primary Colors
$google-blue: #4C8BF5;
$google-red: #EA4D40;
$google-yellow: #FBBF11;
$google-green: #3FAD5C;
$white: #FFFFFF;

// Secondary Colors
$google-dark-blue: #2463BF;
$google-dark-red: #B7201E;
$google-dark-yellow: #EB8C00;
$google-dark-green: #1F7A3E;

// Tertiary Colors
$google-light-blue: #D4E4FC;
$google-light-green: #D1EBD8;